src/DevOpsChallenge.SalesApi/bin/
src/DevOpsChallenge.SalesApi/obj/
src/DevOpsChallenge.SalesApi.Business.UnitTests/bin/
src/DevOpsChallenge.SalesApi.Business.UnitTests/obj/
src/DevOpsChallenge.SalesApi.Business/bin/
src/DevOpsChallenge.SalesApi.Business/obj/
src/DevOpsChallenge.SalesApi.Database/bin/
src/DevOpsChallenge.SalesApi.Database/obj/
src/DevOpsChallenge.SalesApi.IntegrationTests/bin/
src/DevOpsChallenge.SalesApi.IntegrationTests/obj/
